:root{
    --clr-neon1:#0be7fb;
    --clr-neon2:#9cff51;
    --clr-neon3:#fecc50;
    --clr-neon4:#ff6d69;
    --clr-neon5:#1f2eff;
    --clr-neon6:hsl(317 100% 54%);
    --clr-neon7:#7700ff;
    --clr-bg:#1e0521
}
body{
    animation:rainbow-var2 1s linear infinite!important;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed
}
.btn-success{
    color:#fff;
    background-color:transparent;
    border:#fff 2px solid;
    border-radius:25px;
    text-shadow:0 0 10px var(--clr-neon4);
    box-shadow:0 0 20px var(--clr-neon4),inset 0 0 10px var(--clr-neon4);
    position:relative
}
.btn-success::before{
    content:"";
    position:absolute;
    background:var(--clr-neon4);
    top:200%;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(3em) rotateX(40deg) scale(1,.5);
    filter:blur(1.5em);
    opacity:.7;
    pointer-events:none
}
.btn-success:active,.btn-success:active:focus,.btn-success:active:hover,.btn-success:focus,.btn-success:hover{
    color:var(--clr-bg);
    text-shadow:none;
    outline:0;
    background-image:radial-gradient(white,var(--clr-neon4));
    border-color:var(--clr-neon4)
}
.btn-success::after{
    content:"";
    position:absolute;
    background:var(--clr-neon4);
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 2em .5em var(--clr-neon4);
    opacity:0;
    background-image:radial-gradient(white,var(--clr-neon4));
    z-index:-1;
    transition:opacity .1s linear;
    border-radius:25px
}
.btn-success:active::after,.btn-success:active:focus::after,.btn-success:active:hover::after,.btn-success:focus::after,.btn-success:hover::after{
    opacity:1;
    outline:0
}
.btn-success:active::before,.btn-success:active:focus::before,.btn-success:active:hover::before,.btn-success:focus::before,.btn-success:hover::before{
    opacity:1;
    outline:0
}
.btn-primary{
    color:#fff;
    background-color:transparent;
    border:#fff 2px solid;
    border-radius:25px;
    text-shadow:0 0 10px var(--clr-neon3);
    box-shadow:0 0 20px var(--clr-neon3),inset 0 0 10px var(--clr-neon3);
    position:relative
}
.btn-primary::before{
    content:"";
    position:absolute;
    background:var(--clr-neon3);
    top:200%;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(3em) rotateX(40deg) scale(1,.5);
    filter:blur(1.5em);
    opacity:.7;
    pointer-events:none
}
.btn-primary:active,.btn-primary:active:focus,.btn-primary:active:hover,.btn-primary:focus,.btn-primary:hover{
    color:var(--clr-bg);
    text-shadow:none;
    outline:0;
    background-image:radial-gradient(white,var(--clr-neon3));
    border-color:var(--clr-neon3)
}
.btn-primary::after{
    content:"";
    position:absolute;
    background:var(--clr-neon3);
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 2em .5em var(--clr-neon3);
    opacity:0;
    background-image:radial-gradient(white,var(--clr-neon3));
    z-index:-1;
    transition:opacity .1s linear;
    border-radius:25px
}
.btn-primary:active::after,.btn-primary:active:focus::after,.btn-primary:active:hover::after,.btn-primary:focus::after,.btn-primary:hover::after{
    opacity:1;
    outline:0
}
.btn-primary:active::before,.btn-primary:active:focus::before,.btn-primary:active:hover::before,.btn-primary:focus::before,.btn-primary:hover::before{
    opacity:1;
    outline:0
}
.btn-warning{
    color:#fff;
    background-color:transparent;
    border:#fff 2px solid;
    border-radius:25px;
    text-shadow:0 0 10px var(--clr-neon3);
    box-shadow:0 0 20px var(--clr-neon3),inset 0 0 10px var(--clr-neon3);
    position:relative
}
.btn-warning::before{
    content:"";
    position:absolute;
    background:var(--clr-neon3);
    top:200%;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(3em) rotateX(40deg) scale(1,.5);
    filter:blur(1.5em);
    opacity:.7;
    pointer-events:none
}
.btn-warning:active,.btn-warning:active:focus,.btn-warning:active:hover,.btn-warning:focus,.btn-warning:hover{
    color:var(--clr-bg);
    text-shadow:none;
    outline:0;
    background-image:radial-gradient(white,var(--clr-neon3));
    border-color:var(--clr-neon3)
}
.btn-warning::after{
    content:"";
    position:absolute;
    background:var(--clr-neon3);
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 2em .5em var(--clr-neon3);
    opacity:0;
    background-image:radial-gradient(white,var(--clr-neon3));
    z-index:-1;
    transition:opacity .1s linear;
    border-radius:25px
}
.btn-warning:active::after,.btn-warning:active:focus::after,.btn-warning:active:hover::after,.btn-warning:focus::after,.btn-warning:hover::after{
    opacity:1;
    outline:0
}
.btn-warning:active::before,.btn-warning:active:focus::before,.btn-warning:active:hover::before,.btn-warning:focus::before,.btn-warning:hover::before{
    opacity:1;
    outline:0
}
#buttonLoginCreatePrivate{
    border-radius:25px 0 0 25px
}
#toggleFilter{
    border-radius:0 25px 25px 0
}
input#inputName.form-control{
    color:#fff;
    background-color:transparent;
    border:#fff 2px solid;
    border-radius:25px 0 0 25px;
    text-shadow:0 0 10px var(--clr-neon6);
    box-shadow:0 0 20px var(--clr-neon6),inset 0 0 10px var(--clr-neon6);
    position:relative
}
input#inputName.form-control::before{
    content:"";
    position:absolute;
    background:var(--clr-neon6);
    top:200%;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(3em) rotateX(40deg) scale(1,.5);
    filter:blur(1.5em);
    opacity:.7;
    pointer-events:none
}
input#inputName.form-control:active,input#inputName.form-control:active:focus,input#inputName.form-control:active:hover,input#inputName.form-control:focus,input#inputName.form-control:hover{
    color:var(--clr-bg);
    text-shadow:none;
    outline:0;
    background-image:radial-gradient(white,var(--clr-neon6));
    border-color:var(--clr-neon6)
}
input#inputName.form-control::after{
    content:"";
    position:absolute;
    background:var(--clr-neon6);
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 2em .5em var(--clr-neon6);
    opacity:0;
    background-image:radial-gradient(white,var(--clr-neon6));
    z-index:-1;
    transition:opacity .1s linear;
    border-radius:25px
}
input#inputName.form-control:active::after,input#inputName.form-control:active:focus::after,input#inputName.form-control:active:hover::after,input#inputName.form-control:focus::after,input#inputName.form-control:hover::after{
    opacity:1;
    outline:0
}
input#inputName.form-control:active::before,input#inputName.form-control:active:focus::before,input#inputName.form-control:active:hover::before,input#inputName.form-control:focus::before,input#inputName.form-control:hover::before{
    opacity:1;
    outline:0
}
#buttonLoginCreatePrivate.btn.btn-info.btn-block{
    color:#fff;
    background-color:transparent;
    border:#fff 2px solid;
    border-radius:25px 0 0 25px;
    text-shadow:0 0 10px var(--clr-neon3);
    box-shadow:0 0 20px var(--clr-neon3),inset 0 0 10px var(--clr-neon3);
    position:relative
}
#buttonLoginCreatePrivate.btn.btn-info.btn-block::before{
    content:"";
    position:absolute;
    background:var(--clr-neon3);
    top:200%;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(3em) rotateX(40deg) scale(1,.5);
    filter:blur(1.5em);
    opacity:.7;
    pointer-events:none
}
#buttonLoginCreatePrivate.btn.btn-info.btn-block:active,#buttonLoginCreatePrivate.btn.btn-info.btn-block:active:focus,#buttonLoginCreatePrivate.btn.btn-info.btn-block:active:hover,#buttonLoginCreatePrivate.btn.btn-info.btn-block:focus,#buttonLoginCreatePrivate.btn.btn-info.btn-block:hover{
    color:var(--clr-bg);
    text-shadow:none;
    outline:0;
    background-image:radial-gradient(white,var(--clr-neon3));
    border-color:var(--clr-neon3)
}
#buttonLoginCreatePrivate.btn.btn-info.btn-block::after{
    content:"";
    position:absolute;
    background:var(--clr-neon3);
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 2em .5em var(--clr-neon3);
    opacity:0;
    background-image:radial-gradient(white,var(--clr-neon3));
    z-index:-1;
    transition:opacity .1s linear;
    border-radius:25px
}
#buttonLoginCreatePrivate.btn.btn-info.btn-block:active::after,#buttonLoginCreatePrivate.btn.btn-info.btn-block:active:focus::after,#buttonLoginCreatePrivate.btn.btn-info.btn-block:active:hover::after,#buttonLoginCreatePrivate.btn.btn-info.btn-block:focus::after,#buttonLoginCreatePrivate.btn.btn-info.btn-block:hover::after{
    opacity:1;
    outline:0
}
#buttonLoginCreatePrivate.btn.btn-info.btn-block:active::before,#buttonLoginCreatePrivate.btn.btn-info.btn-block:active:focus::before,#buttonLoginCreatePrivate.btn.btn-info.btn-block:active:hover::before,#buttonLoginCreatePrivate.btn.btn-info.btn-block:focus::before,#buttonLoginCreatePrivate.btn.btn-info.btn-block:hover::before{
    opacity:1;
    outline:0
}
#toggleFilter.btn.btn-info{
    color:#fff;
    background-color:transparent;
    border:#fff 2px solid;
    border-radius:0 25px 25px 0;
    text-shadow:0 0 10px var(--clr-neon3);
    box-shadow:0 0 20px var(--clr-neon3),inset 0 0 10px var(--clr-neon3);
    position:relative
}
#toggleFilter.btn.btn-info::before{
    content:"";
    position:absolute;
    background:var(--clr-neon3);
    top:200%;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(3em) rotateX(40deg) scale(1,.5);
    filter:blur(1.5em);
    opacity:.7;
    pointer-events:none
}
#toggleFilter.btn.btn-info:active,#toggleFilter.btn.btn-info:active:focus,#toggleFilter.btn.btn-info:active:hover,#toggleFilter.btn.btn-info:focus,#toggleFilter.btn.btn-info:hover{
    color:var(--clr-bg);
    text-shadow:none;
    outline:0;
    background-image:radial-gradient(white,var(--clr-neon3));
    border-color:var(--clr-neon3)
}
#toggleFilter.btn.btn-info::after{
    content:"";
    position:absolute;
    background:var(--clr-neon3);
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 2em .5em var(--clr-neon3);
    opacity:0;
    background-image:radial-gradient(white,var(--clr-neon3));
    z-index:-1;
    transition:opacity .1s linear;
    border-radius:25px
}
#toggleFilter.btn.btn-info:active::after,#toggleFilter.btn.btn-info:active:focus::after,#toggleFilter.btn.btn-info:active:hover::after,#toggleFilter.btn.btn-info:focus::after,#toggleFilter.btn.btn-info:hover::after{
    opacity:1;
    outline:0
}
#toggleFilter.btn.btn-info:active::before,#toggleFilter.btn.btn-info:active:focus::before,#toggleFilter.btn.btn-info:active:hover::before,#toggleFilter.btn.btn-info:focus::before,#toggleFilter.btn.btn-info:hover::before{
    opacity:1;
    outline:0
}
#loginLanguage.form-control{
    color:#fff;
    background-color:transparent;
    border:#fff 2px solid;
    border-radius:0 25px 25px 0;
    text-shadow:0 0 10px var(--clr-neon6);
    box-shadow:0 0 20px var(--clr-neon6),inset 0 0 10px var(--clr-neon6);
    position:relative
}
#loginLanguage.form-control::before{
    content:"";
    position:absolute;
    background:var(--clr-neon6);
    top:200%;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(3em) rotateX(40deg) scale(1,.5);
    filter:blur(1.5em);
    opacity:.7;
    pointer-events:none
}
#loginLanguage.form-control:active,#loginLanguage.form-control:active:focus,#loginLanguage.form-control:active:hover,#loginLanguage.form-control:focus,#loginLanguage.form-control:hover{
    color:var(--clr-bg);
    text-shadow:none;
    outline:0;
    background-image:radial-gradient(white,var(--clr-neon6));
    border-color:var(--clr-neon6)
}
#loginLanguage.form-control::after{
    content:"";
    position:absolute;
    background:var(--clr-neon6);
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 2em .5em var(--clr-neon6);
    opacity:0;
    background-image:radial-gradient(white,var(--clr-neon6));
    z-index:-1;
    transition:opacity .1s linear;
    border-radius:25px
}
#loginLanguage.form-control:active::after,#loginLanguage.form-control:active:focus::after,#loginLanguage.form-control:active:hover::after,#loginLanguage.form-control:focus::after,#loginLanguage.form-control:hover::after{
    opacity:1;
    outline:0
}
#loginLanguage.form-control:active::before,#loginLanguage.form-control:active:focus::before,#loginLanguage.form-control:active:hover::before,#loginLanguage.form-control:focus::before,#loginLanguage.form-control:hover::before{
    opacity:1;
    outline:0
}
#brushColor.form-control{
    color:#fff;
    background-color:transparent;
    border:#fff 2px solid;
    border-radius:0 25px 25px 0;
    text-shadow:0 0 10px var(--clr-neon2);
    box-shadow:0 0 20px var(--clr-neon2),inset 0 0 10px var(--clr-neon2);
    position:relative
}
#brushColor.form-control::before{
    content:"";
    position:absolute;
    background:var(--clr-neon2);
    top:200%;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(3em) rotateX(40deg) scale(1,.5);
    filter:blur(1.5em);
    opacity:.7;
    pointer-events:none
}
#brushColor.form-control:active,#brushColor.form-control:active:focus,#brushColor.form-control:active:hover,#brushColor.form-control:focus,#brushColor.form-control:hover{
    color:var(--clr-bg);
    text-shadow:none;
    outline:0;
    background-image:radial-gradient(white,var(--clr-neon2));
    border-color:var(--clr-neon2)
}
#brushColor.form-control::after{
    content:"";
    position:absolute;
    background:var(--clr-neon2);
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 2em .5em var(--clr-neon2);
    opacity:0;
    background-image:radial-gradient(white,var(--clr-neon2));
    z-index:-1;
    transition:opacity .1s linear;
    border-radius:25px
}
#brushColor.form-control:active::after,#brushColor.form-control:active:focus::after,#brushColor.form-control:active:hover::after,#brushColor.form-control:focus::after,#brushColor.form-control:hover::after{
    opacity:1;
    outline:0
}
#brushColor.form-control:active::before,#brushColor.form-control:active:focus::before,#brushColor.form-control:active:hover::before,#brushColor.form-control:focus::before,#brushColor.form-control:hover::before{
    opacity:1;
    outline:0
}
select#brushSize.form-control{
    color:#fff;
    background-color:transparent;
    border:#fff 2px solid;
    border-radius:25px 0 0 25px;
    text-shadow:0 0 10px var(--clr-neon2);
    box-shadow:0 0 20px var(--clr-neon2),inset 0 0 10px var(--clr-neon2);
    position:relative
}
select#brushSize.form-control::before{
    content:"";
    position:absolute;
    background:var(--clr-neon2);
    top:200%;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(3em) rotateX(40deg) scale(1,.5);
    filter:blur(1.5em);
    opacity:.7;
    pointer-events:none
}
select#brushSize.form-control:active,select#brushSize.form-control:active:focus,select#brushSize.form-control:active:hover,select#brushSize.form-control:focus,select#brushSize.form-control:hover{
    color:var(--clr-bg);
    text-shadow:none;
    outline:0;
    background-image:radial-gradient(white,var(--clr-neon2));
    border-color:var(--clr-neon2)
}
select#brushSize.form-control::after{
    content:"";
    position:absolute;
    background:var(--clr-neon2);
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 2em .5em var(--clr-neon2);
    opacity:0;
    background-image:radial-gradient(white,var(--clr-neon2));
    z-index:-1;
    transition:opacity .1s linear;
    border-radius:25px
}
select#brushSize.form-control:active::after,select#brushSize.form-control:active:focus::after,select#brushSize.form-control:active:hover::after,select#brushSize.form-control:focus::after,select#brushSize.form-control:hover::after{
    opacity:1;
    outline:0
}
select#brushSize.form-control:active::before,select#brushSize.form-control:active:focus::before,select#brushSize.form-control:active:hover::before,select#brushSize.form-control:focus::before,select#brushSize.form-control:hover::before{
    opacity:1;
    outline:0
}
.btn-info{
    color:#fff;
    background-color:transparent;
    border:#fff 2px solid;
    border-radius:25px;
    text-shadow:0 0 10px var(--clr-neon2);
    box-shadow:0 0 20px var(--clr-neon2),inset 0 0 10px var(--clr-neon2);
    position:relative
}
.btn-info::before{
    content:"";
    position:absolute;
    background:var(--clr-neon2);
    top:200%;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(3em) rotateX(40deg) scale(1,.5);
    filter:blur(1.5em);
    opacity:.7;
    pointer-events:none
}
.btn-info:active,.btn-info:active:focus,.btn-info:active:hover,.btn-info:focus,.btn-info:hover{
    color:var(--clr-bg);
    text-shadow:none;
    outline:0;
    background-image:radial-gradient(white,var(--clr-neon2));
    border-color:var(--clr-neon2)
}
.btn-info::after{
    content:"";
    position:absolute;
    background:var(--clr-neon2);
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 2em .5em var(--clr-neon2);
    opacity:0;
    background-image:radial-gradient(white,var(--clr-neon2));
    z-index:-1;
    transition:opacity .1s linear;
    border-radius:25px
}
.btn-info:active::after,.btn-info:active:focus::after,.btn-info:active:hover::after,.btn-info:focus::after,.btn-info:hover::after{
    opacity:1;
    outline:0
}
.btn-info:active::before,.btn-info:active:focus::before,.btn-info:active:hover::before,.btn-info:focus::before,.btn-info:hover::before{
    opacity:1;
    outline:0
}
#containerChat,#imageOptions,.gameHeader,.lobbyContent,.lobbyName,.loginPanelContent,.modalContainer{
    border:#fff 2px solid;
    box-shadow:0 0 20px var(--clr-neon7),inset 0 0 10px var(--clr-neon7);
    text-shadow:0 0 10px var(--clr-neon1);
    background-color:transparent!important;
    backdrop-filter:blur(5px);
    animation:rainbow-var1 20s ease infinite
}
#downloadPopup,#gamemodePopup,#saveDrawingPopup,#sharePopup{
    background-color:#00000095!important;
    backdrop-filter:blur(5px)
}
.form-control{
    color:#fff;
    background-color:transparent;
    border:#fff 2px solid;
    border-radius:25px;
    text-shadow:0 0 10px var(--clr-neon1);
    box-shadow:0 0 20px var(--clr-neon1),inset 0 0 10px var(--clr-neon1);
    position:relative
}
.form-control::before{
    content:"";
    position:absolute;
    background:var(--clr-neon1);
    top:200%;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(3em) rotateX(40deg) scale(1,.5);
    filter:blur(1.5em);
    opacity:.7;
    pointer-events:none
}
.form-control:active,.form-control:active:focus,.form-control:active:hover,.form-control:focus,.form-control:hover{
    color:var(--clr-bg);
    text-shadow:none;
    outline:0;
    background-image:radial-gradient(white,var(--clr-neon1));
    border-color:var(--clr-neon1)
}
.form-control::after{
    content:"";
    position:absolute;
    background:var(--clr-neon1);
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 2em .5em var(--clr-neon1);
    opacity:0;
    background-image:radial-gradient(white,var(--clr-neon1));
    z-index:-1;
    transition:opacity .1s linear;
    border-radius:25px
}
.form-control:active::after,.form-control:active:focus::after,.form-control:active:hover::after,.form-control:focus::after,.form-control:hover::after{
    opacity:1;
    outline:0
}
.form-control:active::before,.form-control:active:focus::before,.form-control:active:hover::before,.form-control:focus::before,.form-control:hover::before{
    opacity:1;
    outline:0
}
#downloadPopup *,#emojiPrev span,#gamemodePopup *,#saveDrawingPopup *,#sharePopup *,.checkbox label,.modal-title,.modalTitle,.player .text,.wordContainer .word{
    color:#fff!important
}
#containerAgent.updateInfo{
    border:#fff 2px solid;
    box-shadow:0 0 20px var(--clr-neon4),inset 0 0 10px var(--clr-neon4)
}
code{
    background-color:#00000075
}
.sprite.color{
    animation:rainbow-var2 20s ease infinite
}
#downloadPopup *,#emojiPrev span,#gamemodePopup *,#saveDrawingPopup *,#sharePopup *,.checkbox label,.modal-title,.modalTitle,.player .text,.wordContainer .word{
    animation:rainbow-var1 20s ease infinite
}
#overlay .content .wordContainer .word{
    color:#fff;
    background-color:transparent;
    border:#fff 2px solid;
    border-radius:25px;
    text-shadow:0 0 10px var(--clr-neon1);
    box-shadow:0 0 20px var(--clr-neon1),inset 0 0 10px var(--clr-neon1);
    position:relative
}
#overlay .content .wordContainer .word::before{
    content:"";
    position:absolute;
    background:var(--clr-neon1);
    top:200%;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(3em) rotateX(40deg) scale(1,.5);
    filter:blur(1.5em);
    opacity:.7;
    pointer-events:none
}
#overlay .content .wordContainer .word:active,#overlay .content .wordContainer .word:active:focus,#overlay .content .wordContainer .word:active:hover,#overlay .content .wordContainer .word:focus,#overlay .content .wordContainer .word:hover{
    color:var(--clr-bg);
    text-shadow:none;
    outline:0;
    background-image:radial-gradient(white,var(--clr-neon1));
    border-color:var(--clr-neon1)
}
#overlay .content .wordContainer .word::after{
    content:"";
    position:absolute;
    background:var(--clr-neon1);
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 2em .5em var(--clr-neon1);
    opacity:0;
    background-image:radial-gradient(white,var(--clr-neon1));
    z-index:-1;
    transition:opacity .1s linear;
    border-radius:25px
}
#overlay .content .wordContainer .word:active::after,#overlay .content .wordContainer .word:active:focus::after,#overlay .content .wordContainer .word:active:hover::after,#overlay .content .wordContainer .word:focus::after,#overlay .content .wordContainer .word:hover::after{
    opacity:1;
    outline:0
}
#overlay .content .wordContainer .word:active::before,#overlay .content .wordContainer .word:active:focus::before,#overlay .content .wordContainer .word:active:hover::before,#overlay .content .wordContainer .word:focus::before,#overlay .content .wordContainer .word:hover::before{
    opacity:1;
    outline:0
}
#containerGamePlayers .player .message .content{
    background-color:#00000075
}
:not(.colorMsg){
    animation:rainbow-var1 20s ease infinite
}
#containerGamePlayers .player .message .arrow{
    border-right:10px solid #00000075
}
#canvasGame{
    animation:rainbow-var2 20s ease infinite;
    border:#fff 2px solid;
    box-shadow:0 0 20px var(--clr-neon2),inset 0 0 10px var(--clr-neon2)
}
#containerCanvas{
    box-shadow:0 0 20px var(--clr-neon2),inset 0 0 10px var(--clr-neon2)
}
#containerGamePlayers{
    border:#fff 2px solid;
    box-shadow:0 0 20px var(--clr-neon1),inset 0 0 10px var(--clr-neon1)
}
#loginAvatarCustomizeContainer{
    animation:rainbow-var2 20s ease infinite
}
#logoAvatarContainer{
    margin-top:-80px
}
.logo.logoBig{
    margin-top:-69px
}
.logo.logoSmall{
    margin-top:-30px
}
#screenGame{
    margin-top:-35px
}
.containerToolbar{
    border:#fff 2px solid;
    border-image:linear-gradient(to left,rgba(0,0,0,0),white,rgba(0,0,0,0)) 1 0%
}
.tool.toolActive{
    animation:rainbow-var3 2s linear infinite;
    transform:scale(1.1)
}
.containerTools .tool:hover{
    transform:scale(1.1)
}
.toast{
    color:#fff!important;
    background-color:transparent!important;
    border:#fff 2px solid;
    border-radius:25px!important;
    text-shadow:0 0 10px var(--clr-neon1);
    box-shadow:0 0 20px var(--clr-neon1),inset 0 0 10px var(--clr-neon1)!important;
    position:relative!important
}
.toast::before{
    content:"";
    position:absolute;
    background:var(--clr-neon1);
    top:200%;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(3em) rotateX(40deg) scale(1,.5);
    filter:blur(1.5em);
    opacity:.7;
    pointer-events:none
}
.toast:active,.toast:active:focus,.toast:active:hover,.toast:focus,.toast:hover{
    color:var(--clr-bg)!important;
    text-shadow:none;
    outline:0;
    background-image:radial-gradient(white,var(--clr-neon1));
    border-color:var(--clr-neon1)
}
.toast::after{
    content:"";
    position:absolute;
    background:var(--clr-neon1);
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 2em .5em var(--clr-neon1);
    opacity:0;
    background-image:radial-gradient(white,var(--clr-neon1));
    z-index:-1;
    transition:opacity .1s linear;
    border-radius:25px
}
.toast:active::after,.toast:active:focus::after,.toast:active:hover::after,.toast:focus::after,.toast:hover::after{
    opacity:1;
    outline:0
}
.toast:active::before,.toast:active:focus::before,.toast:active:hover::before,.toast:focus::before,.toast:hover::before{
    opacity:1;
    outline:0
}
#copyFormatted{
    color:#fff;
    background-color:transparent;
    border:#fff 2px solid;
    border-radius:25px;
    text-shadow:0 0 10px var(--clr-neon1);
    box-shadow:0 0 20px var(--clr-neon1),inset 0 0 10px var(--clr-neon1);
    position:relative
}
#copyFormatted::before{
    content:"";
    position:absolute;
    background:var(--clr-neon1);
    top:200%;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    transform:perspective(3em) rotateX(40deg) scale(1,.5);
    filter:blur(1.5em);
    opacity:.7;
    pointer-events:none
}
#copyFormatted:active,#copyFormatted:active:focus,#copyFormatted:active:hover,#copyFormatted:focus,#copyFormatted:hover{
    color:var(--clr-bg);
    text-shadow:none;
    outline:0;
    background-image:radial-gradient(white,var(--clr-neon1));
    border-color:var(--clr-neon1)
}
#copyFormatted::after{
    content:"";
    position:absolute;
    background:var(--clr-neon1);
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 2em .5em var(--clr-neon1);
    opacity:0;
    background-image:radial-gradient(white,var(--clr-neon1));
    z-index:-1;
    transition:opacity .1s linear;
    border-radius:25px
}
#copyFormatted:active::after,#copyFormatted:active:focus::after,#copyFormatted:active:hover::after,#copyFormatted:focus::after,#copyFormatted:hover::after{
    opacity:1;
    outline:0
}
#copyFormatted:active::before,#copyFormatted:active:focus::before,#copyFormatted:active:hover::before,#copyFormatted:focus::before,#copyFormatted:hover::before{
    opacity:1;
    outline:0
}
#emojiPrev{
    background-color:#00000075!important;
    backdrop-filter:blur(5px)
}
#overlay.countdown::after{
    animation:rainbow-var3 1s linear infinite
}
#invite,.invite-overlay{
    color:#fff;
    width:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:transparent;
    border:#fff 2px solid;
    border-radius:25px 0 0 25px;
    text-shadow:0 0 10px var(--clr-neon5);
    box-shadow:0 0 20px var(--clr-neon5),inset 0 0 10px var(--clr-neon5);
    backdrop-filter:blur(500px)
}
.modalContainer *{
    color:#fff!important
}
.avatarArrow{
    background-image:url(https://imgur.com/4wofhPB.png);
    width:34px;
    aspect-ratio:1;
    transition:filter .1s ease;
    animation:rainbow-var2 1s linear infinite
}
.avatarArrowLeft:hover,.avatarArrowRight:hover{
    filter:brightness(2)
}
.modal-content,.modal-footer,.modal-header{
    background-color:#00000050;
    border-bottom:0;
    border-top:0
}
.avatar .color{
    background-image:url(https://imgur.com/72qofnL.png);
     animation: rainbow-var2 5s linear infinite
}
 .typoModbar{
    z-index:1
}
 .avatar .eyes{
    background-image:url(https://imgur.com/XwBJ04h.gif)
}
.avatar .mouth{
    background-image:url(https://imgur.com/C2UbZOi.gif)
}
.avatar .special{
    background-image:url(https://imgur.com/uTJvU1x.gif)
}
.avatar .owner{
    background-image:url(https://imgur.com/lyqdVyE.gif)
}
::-webkit-scrollbar{
    display:none
}

img[src*="res/pen.gif"], #controls, img[src*="res/rubber.gif"], img[src*="res/filltool.gif"],#buttonClearCanvas,img[src*="chrome-extension://kdbdkgkgfnfkjdagdpkbapdhcfcooohk/res/back.gif"],img[src*="chrome-extension://kdbdkgkgfnfkjdagdpkbapdhcfcooohk/res/brush.gif"], .avatar .drawing, #btnOpenStreamSettings, #buttonAvatarCustomizerRandomize{
    filter: invert(1) grayscale(1)
}

input[type*="number"] {
    background: #00000050;
}

option {
    background: #00000050;
}

select {
    background: #00000050;
}

#timer{
    background: url("https://imgur.com/DaFuWzq.gif") no-repeat;
    background-size: contain;
}

#timer, .modalContainer *, .toast{
    color: white !important;
}

@keyframes rainbow-var1{
    0%,100%{
        text-shadow:0 0 10px var(--clr-neon1)
    }
    15%{
        text-shadow:0 0 10px var(--clr-neon5)
    }
    30%{
        text-shadow:0 0 10px var(--clr-neon7)
    }
    45%{
        text-shadow:0 0 10px var(--clr-neon6)
    }
    60%{
        text-shadow:0 0 10px var(--clr-neon4)
    }
    75%{
        text-shadow:0 0 10px var(--clr-neon3)
    }
    90%{
        text-shadow:0 0 10px var(--clr-neon2)
    }
}
@keyframes rainbow-var2{
    0%,100%{
        filter:drop-shadow(0 0 20px var(--clr-neon1))
    }
    15%{
        filter:drop-shadow(0 0 20px var(--clr-neon5))
    }
    30%{
        filter:drop-shadow(0 0 10px var(--clr-neon7))
    }
    45%{
        filter:drop-shadow(0 0 20px var(--clr-neon6))
    }
    60%{
        filter:drop-shadow(0 0 20px var(--clr-neon4))
    }
    75%{
        filter:drop-shadow(0 0 20px var(--clr-neon3))
    }
    90%{
        filter:drop-shadow(0 0 20px var(--clr-neon2))
    }
}
@keyframes rainbow-var3{
    0%,100%{
        background-color:var(--clr-neon1)
    }
    15%{
        background-color:var(--clr-neon5)
    }
    30%{
        background-color:var(--clr-neon7)
    }
    45%{
        background-color:var(--clr-neon6)
    }
    60%{
        background-color:var(--clr-neon4)
    }
    75%{
        background-color:var(--clr-neon3)
    }
    90%{
        background-color:var(--clr-neon2)
    }
}